.contact-heading {
  text-align: center;
  padding-top: 90px;
}

.contact-heading h1 {
  font-size: 32px;
  font-weight: 600;
}

.contact-heading p {
  font-weight: 700;
  color: #eb7d24;
}

.contact-image {
  padding: 60px;
  padding-left: 160px;
  display: flex;
  flex-direction: row;
  gap: 140px;
  justify-content: center;
}

.image {
  width: 270px;
  transition: 0.5s ease-in-out;
  height: 180px;
}

.image:hover {
  width: 290px;
  cursor: pointer;
}

.text {
  padding-left: 40px;
  padding-top: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .contact-image {
    display: flex;
    flex-direction: column;
    padding-left: 180px;
    gap: 30px;
  }
  .contact-container {
    height: 1000px;
  }
  .image {
    width: 400px;
  }
  .text {
    padding-left: 90px;
  }
}

@media (max-width: 425px) {
  .contact-image {
    padding-left: 50px;
  }

  .image {
    width: 100%;
  }
  .text {
    text-align: center;
    padding-left: 0px;
  }
}
