.explore-container {
  display: flex;
  flex-direction: row;
  width: 1300px;
  margin-left: 40px;
}
.explore {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 30px;
  background-color: lightgray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  height: 400px;
  margin-top: -20px;
  z-index: 2;
}

.explore-image {
  width: 350px;
}

.explore-details-text {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.button {
  background-color: rgb(247, 148, 78);
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-left: 550px;
  transition: 0.5s;
}

.button:hover {
  background-color: rgb(172, 54, 11);
}

@media (max-width: 768px) {
  .explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 600px;
    margin-left: 70px;
  }

  .button {
    margin-left: 250px;
  }
  .explore {
    width: 400px;
  }
  .explore-image {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .explore-container {
    margin-left: 0px;
    width: 100%;
  }

  .explore {
    width: 100%;
    margin-top: 40px;
  }

  .explore-image {
    width: 100%;
  }

  .button {
    width: 80%;
    margin-left: 50px;
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  .explore {
    width: 100%;
    margin-top: 20px;
  }

  .explore-image {
    width: 100%;
  }
}
