.explore {
  position: relative;
}
.image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(5, 5, 5, 0.5));
}

.explore-text {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
}

.explore-text h2 {
  color: rgb(184, 98, 0);
  font-size: 32px;
  font-weight: 700;
}

.explore-text h3 {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

@media (max-width: 768px) {
  .explore-text {
    left: 50%;
    top: 40%;
  }
}
