.footer-container {
  display: flex;
  padding-top: 90px;
  gap: 250px;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text h2 {
  font-weight: 600;
  color: rgb(65, 64, 64);
  margin-bottom: 10px;
}

.footer-text a {
  color: rgb(43, 42, 42);
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.footer-text a:hover {
  color: rgb(231, 119, 75);
}

.image {
  margin-left: 90px;
}

.text {
  margin-top: 120px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .image {
    height: 40px;
    margin-left: 5px;
    width: 40px;
  }
  .footer-text {
    padding-left: 20px;
    font-size: 20px;
    display: flex;
    width: 200px;
    margin-left: 70px;
  }

  .footer-container {
    gap: 60px;
  }

  .text {
    margin-top: 80px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .footer-container {
    flex-direction: column;
  }
  .footer {
    height: 100%;
  }
}

@media (max-width: 425px) {
  .image {
    margin-left: 20px;
  }
  .footer-text {
    margin-left: 5px;
  }
}
