@media (max-width: 425px) {
  .hero-image {
    width: 425px;
    height: 300px;
  }
}

@media (max-width: 375px) {
  .hero-image {
    width: 375px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .hero-image {
    width: 320px;
  }
}
