.hero-image {
  width: 100%;
}
@media (max-width: 425px) {
  .hero-image {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 375px) {
  .hero-image {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .hero-image {
    width: 100%;
  }
}
