.news {
  width: 250px;
  margin: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(167, 166, 166, 0.2);
  height: 350px;
}

.news-image {
  width: 300px;
  height: 150px;
}

.news-header {
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
  justify-content: center;
}

.news-header h3 {
  color: rgb(236, 88, 34);
  font-weight: 600;
}

.news-header h4 {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 30px;
}
.news-text {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .news-image-container {
    display: flex;
    flex-direction: column;
    height: 1400px;
    gap: -20px;
    padding-left: 40px;
    width: 500px;
  }
  .news {
    width: 400px;
    height: 500px;
  }
  .news-image {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 425px) {
  .news-image-container {
    width: 100%;
    padding-left: 0px;
    gap: 10px;
    margin-top: 20px;
  }
  .news {
    width: 100%;
    margin: 0px;
  }

  .news-image {
    width: 100%;
  }
  .news-container {
    margin-top: 10px;
  }
}
